* {
    margin: 0;
    padding: 0;
}

#puzzleContainer {
    position: absolute;
    top: 10px;
    left: 10px;
}

#puzzleHead {
    background-color: azure;
    height: 60px;
    width: 480px;
}

#puzzleBody {
    background-color: aliceblue;
    text-align: center;
    overflow: auto;
    height: 480px;
    width: 480px;
}

/* selectSize & controlBtns */

#puzzleHead .selectSize {
    position: absolute;
    height: inherit;
    width: 160px;
    background-color: aqua;
}

#puzzleHead .controlBtns {
    position: absolute;
    left: 160px;
    right: 80px;
    height: inherit;
    background-color: bisque;
}

#puzzleHead #timer {
    position: absolute;
    height: inherit;
    left: 400px;
    right: 0;
    background-color: aquamarine;
}

/* subblock 1 */

#puzzleHead .selectSize .selectCol {
    position: absolute;
    height: inherit;
    width: 80px;
}

#puzzleHead .selectSize .secondCol {
    left: 80px;
    background-color: beige;
}

#puzzleHead .selectSize .selectCol div {
    margin: 8px 10px;
    user-select: none;
}

/* subblock 2 */

#puzzleHead .block {
    position: absolute;
    height: inherit;
    width: 120px;
}

#puzzleHead .block2 {
    left: 120px;
    background-color: azure;
}

#puzzleHead .controlBtns a {
    display: block;
    margin: 8px 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 14px;
    background-color: #aaa;
    color: azure;
}

#pauseBtn {
    pointer-events: none;
}

/* subblock 3 */

#puzzleHead #timer h1 {
    user-select: none;
    display: block;
    height: inherit;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
}

/* subblock 4 */

.card {
    user-select: none;
    position: absolute;
    overflow: hidden;
    background-color: #dd99ff;
    border-radius: 6px;
}

.card img {
    user-select: none;
}

/* scoreTable */

#scoreTable {
    display: inline-block;
}

#scoreTable th,
#scoreTable td {
    padding: 5px 15px;
}

/* resultBtns */

#resultBtns {
    display: none;
    position: absolute;
    margin: 20px 10px;
    text-align: center;
    width: calc(100% - 20px);
    left: 0px;
    top: 60px;
}

#resultBtns a {
    margin: 0px 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #e6e6e6;
    color: black;
}